*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ebebeb;
}
.form-container{
    margin: 3vw auto;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}
.form-title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.form .user-data{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.user-data .form-items{
    margin-bottom: 15px;
    width: 50%;
}
.user-data .form-items input{
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(105, 103, 103);
    padding-left: 15px;
}
.user-data .form-items label {
    margin-bottom: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-radio {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.form-checkbox label{
    display: block;
    margin: 10px 0;
}

.form-checkbox div {
    margin: 5px 0;
    display: flex;
    gap: 3px 15px;
}
.form-items {
    display: flex;
    flex-direction: column;
}
.form .form-items label {
    margin-bottom: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-password .form-items{
    margin-bottom: 15px;
    width: 50%;
}
.form .form-password{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.form .form-password input{
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(105, 103, 103);
    padding-left: 15px;
}
.form-checkbox label{
    margin-bottom: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-radio label{
    margin-bottom: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}
::placeholder {
    color: #888;
    font-weight: 600;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.button-submit{
    width: 40%;
    text-align: center;
    justify-content: center;
    background-color: #5d8ddf;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    margin-right:30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-submit:hover {
    background-color: #0022AA;
    color: #FFFFFF; 
}
.button-delete{
    width: 40%;
    text-align: center;
    justify-content: center;
    background-color: #d84040;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}
.form-user{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px;
}