* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto';
    background-color: #ebebeb;
}
/*//////////Header///////*/
header{
    background-color: #EAC926;
}
header .container-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw 0;
}

.logo {
    display: block;
    text-align: left;
    width:45%;
}
.search-bar {
    width: 40%;
}
.search-bar form {
    background: #fff;
    padding: 2vw;
    border-radius: 5px;
    display: flex;
}

.search-bar input {
    width: 95%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.nav-bar{
    text-decoration: none;
    color: #03264C;
    list-style: none;
    text-align: left;
    padding: 15px;
}
.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: #1f1c1c;
    font-size: .9rem;
}

.nav-bar i {
    color: #1f1c1c;
}
.magnifying{
    cursor: pointer;
    max-width: 1px; 
}
.burger-menu{
    display: flex;
    justify-content: center;
}
.burger-menu button {
    background-color:#1259c3;
    color: white;
    font-size: 1.4em;
    border-radius: 4px;
    padding: 0.5em;
    border: none;
    margin-top: 0.5em;
    cursor: pointer;
    margin-bottom: 5px;
}
/*//////////////////////////////////Banner///////////////////////////////////*/
.banner{
    display: block;
    width: 100%;
    object-fit: cover;
}
/*///////////////////////////Main/////////////////////////////////////////////////*/
main {
    width: 90%;
    margin: 0 auto;
}
.contenedor-padre{
   display: flex;
   margin: 30px;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-between;

}
.headlines {
    font-weight: 24px;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
section article:hover{
    box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
}

.main-section-item{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-bottom: 10px; /* Separación entre artículos */
    border-top: 1px solid #ebebeb; /* Borde superior */
    padding: 15px;
}
.box{
    background-color: white;
    padding: 1.5em;
    position: relative;
    border-top: solid 1px #ebebeb;
    text-align: left;
    cursor: pointer;
}
section article div .box{
    display: flex;
    flex-direction: column;
}
.box p{
    padding: 15px;
    position: relative;
}
.img-item{
    width: 290px;
    height: 290px;
    text-align: center;
}
.item-truck{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
    right: 20px;
    top: -15px;
}
.price {
    width: 30%;
    font-size: 18px;
    line-height: 0px;
    display: block;
    flex-grow: 1.3;
    margin: 5px;

}

.discount {
    font-size: 16px;
    color: #39b54a;
    flex-grow: 1.7;
    display: block;
    margin: 5px;
}
.description {
    font-size: 16px;
}
/*///////////////////Footer////////////////*/

footer{
    background-color: #fff;
    text-align: center;
    color: #666;
    display: flex;
    padding: 4vh;
    justify-content: space-around;
}
.Copyright{
    display: block;
    color: #999;
    text-align: left; 
    font-size: 14px;  
    font-weight: 700; 
    background-color: white;
    padding: 5px;
}
footer div i {
    display: flex;
    gap: 20px;
    font-size: 24px;
}
  
footer div i {
    transition: color 0.3s;
}
  
footer div i:hover {
    color: rgb(168, 230, 168);
}
footer .fa-solid {
    color: #5d8ddf;
    font-size: 2em;
    margin-bottom: 2px;
}
.txt-footer{
    margin-bottom: 10px;
}
/*////////////////////////////////Media /////////////////////////*/
/* Estilos para tablets (ancho mínimo 361 px) */
@media (min-width: 1024px){
    .banner {
        height: 20vw;
    }
    .logo{
        width:30%;
    }
    .burger-menu{
        display: none;
    }

}
@media (min-width: 460px) {
    main section {
        justify-content: space-between;
    }
    main section article {
        transition: .5s;

    }
    main section article .item-truck {
        transition: .5s;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article:hover .item-truck {
        transform: rotateZ(-90deg);
    }
    main section article span {
        font-size: 1.1rem;
        opacity: 0;
        transition: .5s;
        color: #999;
    }
    main section article:hover span {
        opacity: 1;
        color: #555;
    }
    .banner {
        height: 20vw;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-bar-elements {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }

    .login-bar-elements {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
}
 /* Estilos para dispositivos móviles (ancho máximo 460 px) */
 @media (max-width: 460px) {
    footer{
        margin: 10px;
        padding: 5px;
        flex-direction: column;
    }
    .description {
      display: none;
    }
    .nav-bar{
        display: none;
    }
  }